.container
 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #0b100a;
  font-family: Roboto, sans-serif;
  color: #e7b84a;
  overflow: hidden;
}
